
::-webkit-scrollbar {
    width: 5px;
    color: red;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 106px #535271; 
}
#main
{
	position: absolute;
	left: 0;
	top: 10%;
	width: 100%;
	color: #535271;
	background-color: res;
}
.headers
{
	text-align: center;
}
.orderedList
{
	position: relative;
	left: 20%;
	width: 70%;
}
.orderedList a
{
	text-decoration: none;
	color: #535271;
}
.orderedList a:visited
{
	color: red;
}